<h1>Welcome to Michael's Fun House of Horrors</h1>

<form class=""action="/bands/new" method="get">
  <input type="text" name="login" id="login" placeholder="enter login">
  <input type="text" name="password" id="password" placeholder="enter password">
  <button type="submit">Login</button>
</form>

<form class="" action="/bands/new" method="post">
  <input type="text" name="new_name" id="new_name" placeholder="enter new login">
  <input type="text" name="new_password1" id="new_pasword1" placeholder="enter new password">
  <input type="text" name="new_password2" id="new_pasword2" placeholder="confirm password">
  <button type="submit">add band</button>
</form>
