<h1>Welcome to Text Adventure</h1>

<h3>To create a character, select a name:</h3>
<form class="" action="/characters/new" method="post">
  <input type="text" name="name" id="name">
  <button class="btn btn-primary" type="submit" name="button">Begin</button>
</form>

<a href="/admin"><button class="btn" type="button" name="button">Admin</button></a>
